.gallery-wrap {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1;
    gap: 10px;
    width: 600px;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.gallery-item[data-grid='img-1'] {
    grid-area: 2 / 3 / 3 / 4;
}
.gallery-item[data-grid='img-2'] {
    grid-area: 3 / 1 / 4 / 2;
}
.gallery-item[data-grid='img-3'] {
    grid-area: 3 / 2 / 4 / 3;
}
.gallery-item[data-grid='img-4'] {
    grid-area: 3 / 3 / 4 / 4;
}
.gallery-item[data-grid='img-5'] {
    grid-area: 1 / 1 / 3 / 3;
}
.gallery-item[data-grid='img-6'] {
    grid-area: 1 / 3 / 2 / 4;
}
